.icon-ex {
	background: url(../img/icons/icon-ex.svg) no-repeat 0 0;
	width: 32px;
	height: 32px;
}
.icon-ex-white {
	background: url(../img/icons/icon-ex-white.svg) no-repeat 0 0;
	width: 32px;
	height: 32px;
}
.icon-ex-blue {
	background: url(../img/icons/icon-ex-blue.svg) no-repeat 0 0;
	width: 26px;
	height: 26px;
}
.telephone {
	background: url(../img/icons/telephone.svg) no-repeat 0 0;
	width: 35px;
	height: 38px;
}
.pdf {
	background: url(../img/icons/pdf.svg) no-repeat 0 0;
	width: 41px;
	height: 46px;
}
.check-off {
	background: url(../img/icons/check-off.svg) no-repeat 0 0;
	width: 26px;
	height: 26px;
}
.check-on {
	background: url(../img/icons/check-on.svg) no-repeat 0 0;
	width: 26px;
	height: 26px;
}
.icon {
	display: inline-block;
	vertical-align: middle;
	background-size: 100% auto;
}
